<h3>{{_("RaiseCloud Login")}}</h3>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Access-Key:') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.simpleemergencystop.emergencyGCODE">  <a href="https://cloud.raise3d.com">get key</a>
        </div>
         <label class="control-label">{{ _('Enable warning dialog ') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.simpleemergencystop.confirmationDialog">
        </div>

    </div>
</form>
